* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.hero-container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to left, #0f2e68, #3171d1);
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin-left: 3.5em;
  font-size: 1.5rem;
  color: white;
  z-index: 3;
}

.hero-image {
  position:absolute;
  top: 0;
  right:0;
  height: 100%;
}

.title-container {
  font-size:2.4rem;
}

.title-1 {
  font-size: 5rem;
  line-height: .5em;
}

.title-2 {
  margin-top:0.2em;
  color: rgb(97, 158, 255);
}

.hero-subtitle {
  letter-spacing: .08em;
  margin-bottom: 1em;
}

.btn-primary {
  font-size: 1.5rem;
  letter-spacing: .03em;
  font-weight: 600;
  padding: .5em 1.5em;
  margin-bottom: .6em;
  cursor: pointer;
  border-radius: 0.25em;
  border: .13em solid #f4c43c;
  background-color: #f4c43c;
  color: rgb(58, 58, 58);
}

.btn-primary:hover {
  background-color: transparent;
  color: #f4c43c;
  transition: ease-in .1s;
}

.signup-text {
  font-size: 1rem;
}

.link {
  color: #f4c43c;
  letter-spacing: inherit;
}

.link:hover {
  color: #2d7eff;
}

@media (max-width: 576px) {
  .hero-container {
    display:flex;
    height: auto;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-inline: 1.5em;
  }

  .hero-image {
    display: none;
  }

  .hero-content {
    position: static;
    transform: none;
    text-align: center;
    margin: 0;
    font-size: 1.2rem;
  }

  .title-1 {
    font-size: 3rem;
    line-height: .8em;
  }

  .title-2 {
    font-size: 2rem;
    line-height: 0.8em;
    margin-block: 0.3em;
  }

  .btn-primary {
    font-size: 1.2rem;
    padding: .4em 1.2em;
  }

  .signup-text {
    font-size: 0.9rem;
  }
}