.signin-container {
  height: 100vh;
  background-color: #174996;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Signin content container */
.signin-content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center;     /* Center horizontally */
  width: 80%;
  max-width: 30em; /* Limit width for smaller layout */
  height: 30em;
  margin-inline: auto;
  margin-top: 4em;
  padding: 20px;
  background-color: #f4c43c; 
  border-radius: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Reader styling */
#reader {
  width: 25rem;
  height: 25rem;
  margin-top: 2em;
  background-color: #f4c43c;
  border: 1px solid #f4c43c;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Video styling */
#reader video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scaleX(-1);
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 1em;
}

.signin-text-container {
  text-align:center;
  margin-top: .9em;
}

.signin-text-container p {
  margin-top: .5em;
  letter-spacing: 0.1em;
}